<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/index.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="./logout.html">AskPupkin</a>
        </div>
        <div class="search-form">
            <form action="./login.html">
                <input class="search-form-input" type="text">
                <button class="search-form-button">Ask!</button>
            </form>
        </div>
        <div class="account">
            <div class="account-content">
                <div class="signup-account">
                    <a href="./login.html">log in</a>
                    <a href="./signup.html">register</a>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="title-bar">
            <h1>Log In</h1>
        </div>
        <div class="content">
            <form class="login_menu" action="./index.html">
                <table class="table">
                    <div class="warring">Sorry, wrong password!</div>
                    <tr>
                        <td>Login</td>
                        <td><input type="text"></td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td><input type="password"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button>Log in!</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><a href="./signup.html">create new account</a></td>
                    </tr>
                    
                    
                </table>
                
            </form>
            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                    </div>
                </section>
                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>