<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/index.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a>AskPupkin</a>
        </div>
        <div class="search-form">
            <form action="#">
                <input class="search-form-input" type="text">
                <button class="search-form-button">Ask!</button>
            </form>
        </div>
        <div class="account">
            <div class="account-image">
                <img src="./image.jpg" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Pepper</div>
                <div class="account-actions">
                    <a href="./settings.html">settings</a>
                    <a href=".logout.html">Log out</a>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="title-bar">
            <h1>Log In</h1>
        </div>
        <div class="content">
            <div class="login_menu">
                <div class="table">
                    <div class="warring">Sorry, wrong password!</div>
                    <div class="row">
                        <div class="cell">Login</div>
                        <div class="cell"><input type="text"></div>
                    </div>
                    <div class="row">
                        <div class="cell">Password</div>
                        <div class="cell">
                            <div class="login">
                                <div>
                                    <input type="password">
                                </div>
                                <div>
                                    <button>Log in!</button>
                                </div>
                                <div>
                                    <a href="#">create new account</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
                
            </div>
            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                        <a href="#">Tag</a>
                    </div>
                </section>
                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>