<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/index.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="./logout.html">AskPupkin</a>
        </div>
        <div class="search-form">
            <form action="./login.html">
                <input class="search-form-input" type="text">
                <button class="search-form-button">Ask!</button>
            </form>
        </div>
        <div class="account">
            <div class="account-content">
                <div class="signup-account">
                    <a href="./login.html">log in</a>
                    <a href="./signup.html">register</a>
                </div>
            </div>
        </div>
    </header>
    <main class="container">
        <div class="title-bar">
            <h1>Registration</h1>
        </div>
        <div class="content">
            <form class="login_menu" action="./index.html">
                <div class="table">
                    <div class="warring">Sorry, this email address allready register!</div>
                    <div class="row">
                        <div class="cell">Login</div>
                        <div class="cell"><input type="text"></div>
                    </div>
                    <div class="row">
                        <div class="cell">Email</div>
                        <div class="cell"><input type="email"></div>
                    </div>
                    <div class="row">
                        <div class="cell">NickName</div>
                        <div class="cell"><input type="text"></div>
                    </div>
                    <div class="row">
                        <div class="cell">Password</div>
                        <div class="cell"><input type="password"></div>
                    </div>
                    <div class="row">
                        <div class="cell">Repeat password</div>
                        <div class="cell"><input type="password"></div>
                    </div>
                    <div class="row">
                        <div class="cell">Upload avatar</div>
                        <div class="cell"><input type="file"></div>
                    </div>
                    <div class="row">
                        <div class="cell"></div>
                        <div class="cell"><button>Register!</button></div>
                    </div>
                    
                    
                </div>
                
            </form>
            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                        <a href="./login.html">Tag</a>
                    </div>
                </section>
                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                        <li><a href="#">Member</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>